# Global settings for Shellcheck (https://github.com/koalaman/shellcheck)
enable=all

external-sources=true

# Disable variable referenced but not assigned
disable=SC2154

# Disable following non-constant source
disable=SC1090

# Disable non-existent binary
disable=SC1091

# Disable -p -m only applies to deepest directory
disable=SC2174

# Disable info on pipe-ing commands
disable=SC2312

# Disable info sed with single quote string litteral
disable=SC2016

# Disable info on not double-quoting variables
disable=SC2086

# Disable info on &&, || chaining
disable=SC2015
