#!/bin/bash
set -eux

module use /opt/modulefiles
module load rocoto
ROCOTORUN=/home/ubuntu/rocoto/bin/rocotorun
ROCOTOSTAT=/home/ubuntu/rocoto/bin/rocotostat
ROCOTOCOMPLETE=/home/ubuntu/rocoto/bin/rocotocomplete
ROCOTO_SCHEDULER=slurm
export ROCOTORUN
export ROCOTOSTAT
export ROCOTOCOMPLETE
export ROCOTO_SCHEDULER

